.banner {
    background-color: aquamarine;
    padding: 200px;
    text-align: center;
    opacity: 0.6;
    background-image: url("https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 100%;
}
.banner h5 {
    color: black;
}
.about {
    background-color: rgb(199, 206, 204);
    padding: 50px;
}
.about img {
    border-radius: 20px;
    width: 450px;
    margin-top: 35px;
}
.about p {
    margin-left: 20px;
}
.services {
    
    background-color: rgb(214, 221, 219);
    padding: 50px;
    
}
.services .card {
    text-align: center;
    padding: 20px;
    background-color: transparent !important;
    height:400px;
}
.icon {
    margin-top: 20px;
    font-size: 80px;
}